#red {
  width: 150px;
  height: 150px;
  background-color: red;
}

#green {
  width: 150px;
  height: 150px;
  background-color: green;
}

#blue {
  width: 150px;
  height: 150px;
  background-color: blue;
}

#yellow {
  width: 150px;
  height: 150px;
  background-color: yellow;
}

#orange {
  width: 150px;
  height: 150px;
  background-color: orange;
}

#pink {
  width: 150px;
  height: 150px;
  background-color: pink;
}

#white {
  width: 150px;
  height: 150px;
  background-color: white;
}

#black {
  width: 150px;
  height: 150px;
  background-color: black;
}

#purple {
  width: 150px;
  height: 150px;
  background-color: purple;
}

#magenta {
  width: 150px;
  height: 150px;
  background-color: magenta;
}

#cyan {
  width: 150px;
  height: 150px;
  background-color: cyan;
}

#indigo {
  width: 150px;
  height: 150px;
  background-color: indigo;
}

#teal {
  width: 150px;
  height: 150px;
  background-color: teal;
}
